#coding: utf-8

require 'boot'
require 'openssl'

OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE

Boot.configure do |c|
  c.skype!.room = 'Skype Room Topic Name'

  c.gerrit!.user     = 'username of gerrit'
  c.gerrit!.host     = 'gerrit.example.com'
  c.gerrit!.port     = '29418'
  c.gerrit!.project  = 'project name'
  c.gerrit!.branches = /^RegExp For Filtering/

  c.feeds = [
    {
      url: 'feed url',
      refresh_rate: 10 * 60,
    },
    {
      url: 'other feed url',
      refresh_rate: 20 * 60,
    },
  ]
  c.steward!.redmine_tickets_feed_url = 'redmine tickets feed url'
end
